# Makefile for libwav_tools
# Copyright (C) 2016 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = wav_tools

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
        wav_resample.cpp \
        get_wav_duration.cpp \

LIB_EXT_LIB_NAMES = \
        sndfile_cpp
