# Makefile for libwav_tools
# Copyright (C) 2016 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_THIRDPARTY_LIBS = -lsndfile -lm $(shell pkg-config --cflags --libs sox)

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
        sndfile_cpp
